@page "/home"



<div class="text-left">
    <img src="https://cdn.pixabay.com/photo/2016/12/27/13/10/logo-1933884_640.png" alt="Unison logo" class="img-fluid" height="200px" width="200px" />
</div>
<h1>Unison</h1>

<p class="lead text-center">
    Welcome to Unison! Please navigate to the employees tab to manage your Employees.
</p>